.root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  width: 500px;
  justify-content: space-between;
}

nz-select {
  width: 120px;
}
